body {
  overflow-x: hidden;
}

@font-face {
    font-family: ClearSans-Thin;
    src: url(/assets/fonts/clearsans-1.00/WOFF/ClearSans-Thin.woff);
}

@font-face {
    font-family: ClearSans-Light;
    src: url(/assets/fonts/clearsans-1.00/WOFF/ClearSans-Light.woff);
}


@font-face {
    font-family: ClearSans-Medium;
    src: url(/assets/fonts/clearsans-1.00/WOFF/ClearSans-Medium.woff);
}


html { width: 100vw; }

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'ClearSans-Light';
  cursor: default;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
} 

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.176); 
  height: 20px;
  border-radius: 6px;
} 

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); 
} 

::-webkit-scrollbar-button {
  background-color: rgb(200,200,200);
} 

::-webkit-scrollbar-corner {
  background-color: black;
}

#submission {
  transition: all 0.25s;
}

#submission:focus {
  background: rgb(240,240,240);
}

.action-icon {
  opacity: 0.7;
  transition: all 0.15s;
}

.action-icon:hover {
  opacity: 1.0;
}

.button-orange:hover {
  color: rgb(243,162,83);
  box-shadow: 0 0 0 2px rgb(243,162,83);
}

.button-orange:focus {
  outline: none;
}

.button-orange:active {
  color: rgb(203,122,33);
  box-shadow: 0 0 0 2px rgb(203,122,33);
}

.button-orange {
  color: rgb(150,150,150);
  transition: all 0.25s;
}

.button:hover {
  color: rgb(90,90,90);
  box-shadow: 0 0 0 2px rgb(200,200,200);
}

.button:focus {
  outline: none;
}

.button:active {
  color: rgb(40,40,40);
  box-shadow: 0 0 0 2px rgb(140,140,140);
}

.button {
  color: rgb(150,150,150);
  transition: all 0.25s;
}

.label {
 color: rgb(90,90,90); 
 transition: all 0.15s;
}

.label:hover {
 color: rgb(30,30,30); 
}

.label:active {
 color: rgb(10,10,10); 
}

.template-link {
  color: rgb(150,150,150); 
}

.template-link:hover {
  color: rgb(90,90,90); 
}

.welcome-link {
  cursor: pointer;
  color: rgb(120,120,120);
  border-bottom: dotted 2px rgb(120,120,120);
  transition: all 0.1s;
  text-decoration: none;
}

.welcome-link:hover {
  color: rgb(30,30,30);
  border-bottom: dotted 2px rgb(30,30,30);
}

.welcome-link-pink {
  color: rgb(230,101,129);
}

.welcome-link-pink:hover {
  color: rgb(180,70,100);
}

.welcome-link-orange {
  color: rgb(248, 146, 49);
}

.welcome-link-orange:hover {
  color: rgb(180, 122, 42);
}

@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.three-quarters-loader-big {
  -moz-animation: three-quarters-loader 3000ms infinite linear;
  -webkit-animation: three-quarters-loader 3000ms infinite linear;
  animation: three-quarters-loader 3000ms infinite linear;
  border: 30px solid rgb(190, 190, 190);
  border-right-color: transparent;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  transition: border 0.7s;
}

.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 8px solid rgb(190, 190, 190);
  border-right-color: transparent;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 48px;
  height: 48px;
  transition: border 0.7s;
}

/* buttons */

.btn {
  max-width: 120px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: white;
  margin: 2px;
  padding: 6px;
  transition: all 0.1s;
  outline: none;
  font-size: 14px;
  font-family: ClearSans-Thin;
  margin-bottom: 10px;
  display: inline-block;
}
 
.btn:hover { 
  color: rgb(80,80,80);
  background-color: rgb(180,180,180);
  cursor: pointer;
}

.btn:focus {
  background-color: white;
}

.btn:active {
  background-color: rgb(180,180,180);
  color: rgb(80,80,80);
}

.btn-copy {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  margin: 0px;
  padding: 8px;
  color: rgb(150,150,150);
  transition: all 0.05s;
}

.btn-copy-left {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-copy-right {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-copy-active {
  background-color: rgb(180,180,180);
  color: rgb(80,80,80);
}

.btn-download {
  color: rgb(160,160,160);
  background-color: rgb(230,231,232);
  right: 15px;
  bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
}

.btn-download:hover {
  background-color: rgb(200,200,200);
  color: rgb(100,100,100);
}

.btn-download:active {
  background-color: rgb(160,160,160);
  color: rgb(100,100,100);
}